@font-face {
    font-family: 'RobotoItalic';
    src: url('RobotoItalic.eot');
    src: url('RobotoItalic.eot') format('embedded-opentype'),
         url('RobotoItalic.woff2') format('woff2'),
         url('RobotoItalic.woff') format('woff'),
         url('RobotoItalic.ttf') format('truetype'),
         url('RobotoItalic.svg#RobotoItalic') format('svg');
}
